body{
    background-color: black;
    color: white;
}

#container{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

button{
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(78, 78, 78);
    color: white;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}

button:hover{
    background-color: rgb(111, 111, 111);
}

button:active{
    background-color: rgb(160, 159, 159);
}

input{
    font-size: 2rem;
    width: 120px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#diceImages img {
    width: 100px;
}